{{!-- Bazis actor sheet – jelenleg teljesen megegyezik a Jármű lappal --}}
<form class="votv bazis-sheet karakter-sheet" autocomplete="off">
  {{> "systems/vacuum-of-the-void/templates/actor/jarmu-sheet.hbs"}}
</form>

